*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $font-secondary;
  font-weight: $font-weight-medium;
  font-size: $font-size-small;
  line-height: $line-height-medium;
  color: $color-secondary;
}

ul {
    list-style-type: none;
}

a {
  text-decoration: none;
  color: $color-secondary;
}