.home__container {
    background-image: url('../assets/home/background-home-desktop.jpg');
    background-color: $color-tertiary;
    background-position: center;
    background-size: contain;
    width: $width-desktop;
    height: $height-desktop;
    overflow: hidden;
    background-repeat: no-repeat;
    margin: auto;
    display: grid;
    grid-template-rows: 64px min-content 1fr max-content 131px;
    grid-template-columns: minmax(48px,165px) 445px 1fr 542px 1fr;
}

.home__card {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    align-self: flex-end;
    justify-self: flex-end;
}

.btn {
    grid-row: 4 / 5;
    grid-column: 4 / 5;
    align-self: flex-end;
    justify-self: flex-end;
}